*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1B1B1B;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    position: relative;
    overflow-y: auto;
}

::-webkit-scrollbar {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 100px;
}

.header{
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/heroPhoto.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60vw;
   
    position: relative;
}

.navbar{
    position: absolute;
    top: 6%;
    right: 4%;
    font-size: 1.5vw;
}

.navbar__item{
    padding: 10px 3vh;    
    display: inline-block;
}

.navbar__item a:link,
.navbar__item a:visited{
    color: #fff;
    text-decoration: none;
}

.navbar__item:hover{
    border-bottom: 1px solid #fff;
}

.header__textbox{
    position: absolute;
    top: 12%;
    left:8%;
}

.title{
    display: block;
    font-family: 'Staatliches','Roboto Mono', monospace;
    font-size: 9vw;
    letter-spacing: 7px;
}

.title--border{
    margin-top: -35px;
    color: transparent;
}

@supports (-webkit-text-stroke: 0.001px black) {
    .title--border {
      -webkit-text-stroke: 0.01px #fff;
      -webkit-text-fill-color: transparent;
    }
}

.paragraph{
    font-size: 1.5vw;
    word-spacing: 6px;
    line-height: 32px;
    margin-bottom: 6%;
}

.paragraph__line{
    display: block;
}


.btn:link,
.btn:visited{
    text-decoration: none;
    padding: 10px 15vh;    
    color: #fff;
    display: inline-block;
    border-radius: .7vw;
    transition: all .2s;
    border: 1px solid #fff;
}

.btn:hover{
    background-color: #fff;
    color: #1B1B1B;
    transform: translateY(-3px);
}

.btn:active{
    transform: translateY(-1px);
}
