*{
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

body{
    background-color: #FFF;
    font-family: "Roboto";
}

h1, h2, h3, p{
    color: #161616;
    font-size: 1.8vw;
}

a{
    color: #161616;
    text-decoration: none;
}

.black-rectangle{
    position: absolute;
    background-color: #161616;
    height: 100%;
    width: 35%;
    left: 68%;
}

nav{
    font-weight: normal;
    padding-left: 6%;
    padding-top: 1.5%;
}

.intro{
    padding-top: 9.8%;
    padding-left: 6%;
}

.nav_item{
    font-size: 10px;
    display: inline-block;
    margin-right: 6%;
    padding: 10px 20px;
    margin-bottom: 3px;
}

.nav_item p{
    font-size: 1.5vw;
}

.nav_item:hover{
    border-bottom: black;
    border-bottom-style: solid;
    border-width: 2px;
    padding: 10px 18px;
    margin-bottom: 0px;
}

.name{
    font-family: "Roboto mono";
    font-size: 3.8vw;
    float: none;
    font-weight: bold;
}

.subtitle{
    font-weight: lighter;
    padding-top: 1%;
}

.profile_img{
    width: 20%;
    position: absolute;
    margin: auto 0;
    left: 57%;
    top: 26%;
}

.buttons{
    margin-top: 6%;
}


.button{
    height: 45px;
    width: 16%;
    border-radius: 40px;
    border-style: none;
    font-size: 1.2vw;
    margin-right: 2%;
}

.solid_button{
    background-color: #161616;
    color: #FFF;
}

.solid_button:hover{
    background-color: #808080;
}

.line_button{
    background-color: #FFF;
    border-style: solid;
    border-color:#161616;
    border-width: 2px;
}

.line_button:hover{
    background-color: #808080;
    color: #FFF;
    border: none;
}

.logos{
    width: 3%;
    position: absolute;
    left: 95%;
    top: 30%;
}

.logos img{
    margin-bottom: 115%;
}