.header{
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/heroPhoto.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60vw;
    margin-bottom: 20rem;
   
    position: relative;

    &__textbox{
        position: absolute;
        top: 12%;
        left:8%;
    }
}
