.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.u-margin-top-header {
  margin-top: -4rem;
}

.u-margin-top-subheader {
  margin-top: -2rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
